enpos.lan.:53 {
    bind 0.0.0.0
    postgresql {
      datasource "host={{ coredns_db.host }} port={{ coredns_db.port }} user={{ coredns_db.user }} password={{ coredns_db.password }} dbname={{ coredns_db.name }} sslmode={{ coredns_db.sslmode}}"
    }
    {{ "log . 'remote={remote} proto={proto} type={type} name={name} class={class} rcode={rcode}'" }}
}

27.10.in-addr.arpa.:53 {
    bind 0.0.0.0
    postgresql {
      datasource "host={{ coredns_db.host }} port={{ coredns_db.port }} user={{ coredns_db.user }} password={{ coredns_db.password }} dbname={{ coredns_db.name }} sslmode={{ coredns_db.sslmode}}"
    }
    {{ "log . 'remote={remote} proto={proto} type={type} name={name} class={class} rcode={rcode}'" }}
}

.:53 {
    bind 0.0.0.0
    forward . {{ coredns_forwarders | join(' ') }}
    rewrite stop type AAAA A
    log
}