include-dir=/etc/powerdns/pdns.d
launch=gpgsql
local-address=0.0.0.0
local-port=53

api=yes
api-key={{ powerdns.webserver.api_token }}

webserver=yes
webserver-address={{ powerdns.webserver.address}}
webserver-port={{ powerdns.webserver.port }}
webserver-allow-from={{ powerdns.webserver.allow_from}}
webserver-password={{ powerdns.webserver_password }}