- name: Nginx | Install | Deploy vhosts
  ansible.builtin.template:
    src: "sites/{{ item }}"
    dest: "/etc/nginx/conf.d/{{ item | regex_replace('\\.j2$', '') }}"
    mode: '0644'
  loop: "{{ lookup('ansible.builtin.fileglob', 'templates/sites/*.j2', wantlist=True) | map('basename') | list }}"
  notify: reload_nginx