AUTHENTIK_SECRET_KEY={{ authentik.secret_key }}
AUTHENTIK_ERROR_REPORTING__ENABLED=true

# SMTP Host Emails are sent to
AUTHENTIK_EMAIL__HOST={{ globvar.smtp.host }}
AUTHENTIK_EMAIL__PORT={{ globvar.smtp.port }}
# Optionally authenticate (don't add quotation marks to your password)
AUTHENTIK_EMAIL__USERNAME={{ globvar.smtp.email }}
AUTHENTIK_EMAIL__PASSWORD={{ globvar.smtp.password }}
# Use StartTLS
AUTHENTIK_EMAIL__USE_TLS={{ globvar.smtp.tls | default(false) | ternary('true', 'false') }}
# Use SSL
AUTHENTIK_EMAIL__USE_SSL={{ globvar.smtp.ssl | default(false) | ternary('true', 'false') }}
AUTHENTIK_EMAIL__TIMEOUT=10
# Email address authentik will send from, should have a correct @domain
AUTHENTIK_EMAIL__FROM={{ globvar.smtp.email }}

AUTHENTIK_POSTGRESQL__HOST={{ globvar.db.host }}
AUTHENTIK_POSTGRESQL__PORT={{ globvar.db.port }}
AUTHENTIK_POSTGRESQL__USER={{ authentik.db.user }}
AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik.db.password }}
AUTHENTIK_POSTGRESQL__NAME={{ authentik.db.name }}
AUTHENTIK_POSTGRESQL__SSLMODE='prefer'

AUTHENTIK_STORAGE__MEDIA__BACKEND=s3
AUTHENTIK_STORAGE__MEDIA__S3__ACCESS_KEY={{ authentik.s3.access_key }}
AUTHENTIK_STORAGE__MEDIA__S3__SECRET_KEY={{ authentik.s3.secret_key }}
AUTHENTIK_STORAGE__MEDIA__S3__BUCKET_NAME={{ authentik.s3.bucket }}
AUTHENTIK_STORAGE__MEDIA__S3__ENDPOINT={{ globvar.s3.host }}
AUTHENTIK_STORAGE__MEDIA__S3__CUSTOM_DOMAIN={{ authentik.s3.custom_domain }}

AUTHENTIK_BOOTSTRAP_PASSWORD={{ authentik.bootstrap.password }}
AUTHENTIK_BOOTSTRAP_TOKEN={{ authentik.bootstrap.token }}
AUTHENTIK_BOOTSTRAP_EMAIL={{ authentik.bootstrap.email }}