services:
  server:
    command: server
    env_file:
    - authentik.env
    image: ghcr.io/goauthentik/server:{{ authentik.version }}
    ports:
    - {{ authentik.http_port }}:9000
    - {{ authentik.https_port }}:9443
    restart: unless-stopped
    volumes:
    - /root/authentik/custom-templates:/templates

  worker:
    command: worker
    env_file:
    - authentik.env
    image: ghcr.io/goauthentik/server:{{ authentik.version }}
    restart: unless-stopped
    user: root
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - /root/authentik/certs:/certs
    - /root/authentik/custom-templates:/templates
    - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates