source .venv/bin/activate
export VAULT_ADDR=https://openbao.enpos.lan
export VAULT_TOKEN=s.Id2QU5Nhr3cNpxTHwQg4GrSI
export NETBOX_URL="https://netbox.enpos.lan"
export NETBOX_TOKEN=$(vault kv get -field netbox_token kv/ansible)
