- name: Step-CA | Install | Ensure required base packages are installed
  ansible.builtin.apt:
    name:
      - curl
      - vim
      - gpg
      - ca-certificates
    state: present
    update_cache: yes
  tags: install

- name: Step-CA | Install | Download Smallstep repository signing key
  ansible.builtin.get_url:
    url: https://packages.smallstep.com/keys/apt/repo-signing-key.gpg
    dest: /etc/apt/trusted.gpg.d/smallstep.asc
    mode: '0644'
  tags: install

- name: Step-CA | Install | Add Smallstep APT repository
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/smallstep.list
    content: |
      deb [signed-by=/etc/apt/trusted.gpg.d/smallstep.asc] https://packages.smallstep.com/stable/debian debs main
    mode: '0644'
  tags: install

- name: Step-CA | Install | Install step-cli and step-ca
  ansible.builtin.apt:
    name:
      - step-cli
      - step-ca
    state: present
    update_cache: yes
  tags: install

- name: Step-CA | Install | Download Intermediate CA certificate and key from Vault
  ansible.builtin.shell: |
    vault kv get -field=int_ca_cert kv/acme > int_ca.crt
  args:
    chdir: /root
    executable: /bin/bash
  environment:
    VAULT_ADDR: "{{ ansible_hashi_vault_url }}"
    VAULT_TOKEN: "{{ step_ca.vault_token }}"
  tags: install

- name: Step-CA | Install | Download Intermediate CA certificate and key from Vault
  ansible.builtin.shell: |
    vault kv get -field=int_ca_privkey kv/acme > int_ca.key
  args:
    chdir: /root
    executable: /bin/bash
  environment:
    VAULT_ADDR: "{{ ansible_hashi_vault_url }}"
    VAULT_TOKEN: "{{ step_ca.vault_token }}"
  tags: install

- name: Step-CA | Install | Download provisioner password from Vault
  ansible.builtin.shell: |
    vault kv get -field=provisioner_password kv/acme > password.txt
  args:
    chdir: /root
    executable: /bin/bash
  environment:
    VAULT_ADDR: "{{ ansible_hashi_vault_url }}"
    VAULT_TOKEN: "{{ step_ca.vault_token }}"
  tags: install

- name: Step-CA | Install | Launch Step CA installation script
  ansible.builtin.command:
    cmd: >
      step ca init \
      --name "{{ ansible_fqdn }} - Enpos ACME CA" \
      --dns "{{ ansible_fqdn }}" \
      --address "127.0.0.1:9000" \
      --provisioner "ACME Provisioner" \
      --password-file ./password.txt \
      --root ./int_ca.crt \
      --key ./int_ca.key \
  args:
    creates: /root/.step/config/ca.json
  become: true
  tags: install

- name: Step-CA | Install | Read CA config (JSON)
  slurp:
    src: /root/.step/config/ca.json
  register: ca_json_raw
  when: not ansible_check_mode
  tags: install

- name: Step-CA | Install | Decode CA config into YAML fact
  set_fact:
    ca_config: "{{ ca_json_raw.content | b64decode | from_json }}"
  when: not ansible_check_mode
  tags: install

- name: Step-CA | Install | Patch DB section to PostgreSQL
  set_fact:
    step_ca_config: >-
      {{
        ca_config
        | combine({
            'db': {
              'type': 'postgresql',
              'dataSource':
                'postgresql://'
                + step_db.user + ':'
                + step_db.password + '@'
                + step_db.host + ':'
                + (step_db.port | string) + '/',
              'database': step_db.name
            }
          }, recursive=True)
      }}
  when: not ansible_check_mode
  tags: install

- name: Step-CA | Install | Write updated CA JSON
  copy:
    dest: /root/.step/config/ca.json
    content: "{{ step_ca_config | to_nice_json }}"
    mode: "0600"
  when: not ansible_check_mode
  tags: install

- name: Step-CA | Install | Move password file to Step secrets directory
  ansible.builtin.command:
    cmd: mv /root/password.txt /root/.step/secrets/password.txt
  become: true
  when: not ansible_check_mode
  tags: install

- name: Step-CA | Install | Create Systemd service file for Step CA
  ansible.builtin.template:
    src: step-ca.service.j2
    dest: /etc/systemd/system/step-ca.service
    owner: root
    group: root
    mode: '0644'
  notify: start_step_ca
  tags: install

- name: Step-CA | Install | Remove temporary files
  ansible.builtin.command:
    cmd: rm -f int_ca.crt int_ca.key
  become: true
  when: not ansible_check_mode
  tags: installs
