- name: Step-CA | Install | Ensure required base packages are installed
  ansible.builtin.apt:
    name:
      - curl
      - vim
      - gpg
      - ca-certificates
    state: present
    update_cache: yes
  tags: install
  tags: upgrade

- name: Step-CA | Install | Download Smallstep repository signing key
  ansible.builtin.get_url:
    url: https://packages.smallstep.com/keys/apt/repo-signing-key.gpg
    dest: /etc/apt/trusted.gpg.d/smallstep.asc
    mode: '0644'
  tags: install

- name: Step-CA | Install | Add Smallstep APT repository
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/smallstep.list
    content: |
      deb [signed-by=/etc/apt/trusted.gpg.d/smallstep.asc] https://packages.smallstep.com/stable/debian debs main
    mode: '0644'
  tags: install

- name: Step-CA | Install | Install step-cli and step-ca
  ansible.builtin.apt:
    name:
      - step-cli
      - step-ca
    state: present
    update_cache: yes
  tags: 
    - install
    - upgrade

- name: Step-CA | Install | Download Intermediate CA certificate and key from Vault
  ansible.builtin.shell: |
    vault kv get -tls-skip-verify -field=int_ca_cert kv/acme > int_ca.crt
  args:
    chdir: /root
    executable: /bin/bash
  environment:
    VAULT_ADDR: "{{ ansible_hashi_vault_url }}"
    VAULT_TOKEN: "{{ step_ca.vault_token }}"
  tags: install

- name: Step-CA | Install | Download Intermediate CA certificate and key from Vault
  ansible.builtin.shell: |
    vault kv get -tls-skip-verify -field=int_ca_privkey kv/acme > int_ca.key
  args:
    chdir: /root
    executable: /bin/bash
  environment:
    VAULT_ADDR: "{{ ansible_hashi_vault_url }}"
    VAULT_TOKEN: "{{ step_ca.vault_token }}"
  tags: install

- name: Step-CA | Install | Download provisioner password from Vault
  ansible.builtin.shell: |
    vault kv get -tls-skip-verify -field=provisionner_password kv/acme > password.txt
  args:
    chdir: /root
    executable: /bin/bash
  environment:
    VAULT_ADDR: "{{ ansible_hashi_vault_url }}"
    VAULT_TOKEN: "{{ step_ca.vault_token }}"
  tags: install

- name: Step-CA | Install | Launch Step CA installation script
  ansible.builtin.command:
    cmd: 'step ca init --name "{{ inventory_hostname }} - Enpos ACME CA" --dns "{{ inventory_hostname }}" --address "127.0.0.1:9000" --provisioner "acme@enpos.lan" --password-file ./password.txt --root ./int_ca.crt --key ./int_ca.key --acme' 
  args:
    creates: /root/.step/config/ca.json
  become: true
  tags: install

- name: Step-CA | Install | Read CA config (JSON)
  slurp:
    src: /root/.step/config/ca.json
  register: ca_json_raw
  when: not ansible_check_mode
  tags: install

- name: Step-CA | Install | Decode CA config into YAML fact
  set_fact:
    ca_config: "{{ ca_json_raw.content | b64decode | from_json }}"
  when: not ansible_check_mode
  tags: install

- name: Step-CA | Install | Patch DB section to PostgreSQL
  set_fact:
    stepca_config: >-
      {{
        ca_config
        | combine({
            'db': {
              'type': 'postgresql',
              'dataSource':
                'postgresql://'
                + step_ca.db.user + ':'
                + step_ca.db.password + '@'
                + globvar.db.host + ':'
                + (globvar.db.port | string) + '/',
              'database': step_ca.db.name
            },
            'authority': {
              'claims': {
                'defaultTLSCertDuration': '26298h'
              }
            }
          }, recursive=True)
      }}
  when: not ansible_check_mode
  tags: install

- name: Step-CA | Install | Write updated CA JSON
  copy:
    dest: /root/.step/config/ca.json
    content: "{{ stepca_config | to_nice_json }}"
    mode: "0600"
  when: not ansible_check_mode
  tags: install

- name: Step-CA | Install | Move password file to Step secrets directory
  ansible.builtin.command:
    cmd: mv /root/password.txt /root/.step/secrets/password.txt
  become: true
  when: not ansible_check_mode
  tags: install

- name: Step-CA | Install | Create Systemd service file for Step CA
  ansible.builtin.template:
    src: step-ca.service.j2
    dest: /etc/systemd/system/step-ca.service
    owner: root
    group: root
    mode: '0644'
  notify: start_step_ca
  tags: install

- name: Step-CA | Install | SSL - Create local cert directory
  ansible.builtin.file:
    path: "/etc/ssl/{{ inventory_hostname }}"
    state: directory
    mode: '0755'
  tags: install

- name: Step-CA | Install | SSL - Create local cert parts directory
  ansible.builtin.file:
    path: "/etc/ssl/{{ inventory_hostname }}/parts"
    state: directory
    mode: '0755'
  tags: install

- name: Step-CA | Install | SSL - Create local cert privkey
  community.crypto.openssl_privatekey:
    path: "/etc/ssl/{{ inventory_hostname }}/privkey.pem"
    size: 2048
    type: RSA
    mode: '0600'

- name: Step-CA | Install | SSL - Create local cert csr
  community.crypto.openssl_csr:
    path: "/etc/ssl/{{ inventory_hostname }}/cert.csr"
    privatekey_path: "/etc/ssl/{{ inventory_hostname }}/privkey.pem"
    common_name: "{{ inventory_hostname }}"
  tags: install
  when: not ansible_check_mode

- name: Step-CA | Install | SSL - Sign local cert csr with int_ca privkey
  community.crypto.x509_certificate:
    path: "/etc/ssl/{{ inventory_hostname }}/parts/cert.pem"
    csr_path: "/etc/ssl/{{ inventory_hostname }}/cert.csr"
    provider: ownca
    ownca_path: /root/int_ca.crt
    ownca_privatekey_path: /root/int_ca.key
  tags: install
  when: not ansible_check_mode

- name: Step-CA | Install | SSL - Copy Int CA Cert to parts folder
  ansible.builtin.copy:
    remote_src: true
    src: /root/int_ca.crt
    dest: "/etc/ssl/{{ inventory_hostname }}/parts/int_ca.pem"
    owner: root
    group: root
    mode: '0644'

- name: Step-CA | Install | SSL - Assemble Int CA and local CA to create fullchain
  ansible.builtin.assemble:
    src: "/etc/ssl/{{ inventory_hostname }}/parts/"
    dest: /etc/ssl/fullchain.pem
  tags: install
  when: not ansible_check_mode

- name: Step-CA | Install | SSL - Create local cert fullchain
  ansible.builtin.assemble:
    src: "/etc/ssl/{{ inventory_hostname }}/parts/"
    dest: "/etc/ssl/{{ inventory_hostname }}/fullchain.pem"
  tags: install
  when: not ansible_check_mode

- name: Step-CA | Install | Remove temporary files
  ansible.builtin.command:
    cmd: rm -f int_ca.crt int_ca.key
  become: true
  when: not ansible_check_mode
  tags: install
