---
- name: PostgreSQL | Install | Install curl
  ansible.builtin.apt:
    name: curl
    state: present
    update_cache: true
  tags: install

- name: PostgreSQL | Install | Install ca-certificates
  ansible.builtin.apt:
    name: ca-certificates
    state: present
  tags: install

- name: PostgreSQL | Install | Create PostgreSQL PGDG directory
  ansible.builtin.file:
    path: /usr/share/postgresql-common/pgdg
    state: directory
    owner: root
    group: root
    mode: '0755'
  become: true
  tags: install

- name: PostgreSQL | Install | Download PgSQL repository key
  ansible.builtin.get_url:
    url: https://www.postgresql.org/media/keys/{{ pgsql_repo_key_id }}.asc
    dest: /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc
    mode: '0644'
    force: true
  become: true
  tags: install

- name: PostgreSQL | Install | Add PgSQL repository to sources list
  block:
    - name: PostgreSQL| Install | Get OS release information
      ansible.builtin.command:
        cmd: "cat /etc/os-release"
      register: os_release_info
      changed_when: false
      become: true
    
    - name: PostgreSQL | Install | Add PostgreSQL repository to sources list
      ansible.builtin.copy:
        dest: /etc/apt/sources.list.d/pgdg.list
        content: "deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.asc] https://apt.postgresql.org/pub/repos/apt {{ (os_release_info.stdout | regex_search('VERSION_CODENAME=(.*)', '\\1'))[0] }}-pgdg main\n"
        owner: root
        group: root
        mode: '0644'
      become: true
  become: true
  tags: install

- name: PostgreSQL | Install | APT Update & Install PgSQL
  ansible.builtin.apt:
    name: postgresql-{{ pgsql_version }}
    state: present
    update_cache: true
  tags: install

- name: PostgreSQL | Install | Change password for the initial PostgreSQL superuser
  become: true
  become_user: postgres
  command: psql -U postgres -c "ALTER USER postgres WITH PASSWORD '{{ pgsql_password }}';"
  notify: restart_postgresql
  tags: install

