deb [arch=amd64 signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com {{ ansible_lsb.codename | default(lookup('ansible.builtin.env','UBUNTU_CODENAME')) }} main
