---
- name: PowerDNS | Install PDNS-Admin | Install required packages
  ansible.builtin.apt:
    name:
      - postgresql-server-dev-all
      - python-pip
      - libsasl2
      - python-dev
      - libldap2-dev
      - libssl-dev
      - python3-venv
    state: present
    update_cache: true
  tags:
    - install

- name: PowerDNS | Install PDNS-Admin | Clone git repo
  ansible.builtin.git:
    repo: 'https://github.com/PowerDNS-Admin/PowerDNS-Admin'
    dest: /root/pdns-admin
    version: main
  tags:
    - install

- name: PowerDNS | Install PDNS-Admin | Create python virtual environment
  ansible.builtin.command:
    cmd: "python3 -m venv /root/pdns-admin/.venv"
  args:
    creates: "/root/pdns-admin/.venv/bin/activate"
  tags:
    - install

- name: PowerDNS | Install PDNS-Admin | Install packages in the virtualenv
  ansible.builtin.pip:
    requirements: requirements.txt
    packages: psycopg2
    virtualenv: /root/pdns-admin/.venv"
    virtualenv_command: "python3 -m venv"
    executable: "/root/pdns-admin/.venv/bin/pip"
  tags:
    - install

- name: PowerDNS | Install PDNS-Admin | Create pdns-admin config.py file
  ansible.builtin.template:
    src: config.py.j2
    dest: /root/pdns-admin/config.py
    user: root
    group: root
    chmod: '0644'
  tags:
    - install
    - update

- name: PowerDNS | Install PDNS-Admin | Create pdns-admin.service file
  ansible.builtin.copy:
    src: pdns-admin.service
    dest: /etc/systemd/system/pdns-admin.service
    user: root
    group: root
    chmod: '0644'
  tags:
    - install
    - update

- name: PowerDNS | Install PDNS-Admin | Start pdns-admin
  ansible.builtin.systemd:
    name: pdns-admin
    state: start
    enabled: true
    daemon-reload: true
  when: not ansible_check_mode
  tags:
    - install
    - update

- name: PowerDNS | Install PDNS-Admin | Create Nginx site
  ansible.builtin.template:
    src: pdns_admin_nginx.j2
    dest: /etc/nginx/sites-available/powerdns-admin
    user: root
    group: root
    chmod: '0644'
  tags:
    - install
    - update

- name: PowerDNS | Install PDNS-Admin | Add Nginx site to sites-enabled
  ansible.builtin.file:
    src: /etc/nginx/sites-available/powerdns-admin
    dest: /etc/nginx/sites-enabled/powerdns-admin
    state: link
  notify: restart_nginx
  tags:
    - install
  when: not ansible_check_mode
