---
- name: PowerDNS | Install Recursor | Install recursor from APT
  ansible.builtin.apt:
    name:
      - pdns-recursor={{ powerdns.recursor_version }}
    state: present
    update_cache: true
  become: true

- name: PowerDNS | Install Recursor | Stop Systemd-Resolved
  ansible.builtin.systemd:
    name: systemd-resolved
    state: stopped
    enabled: false

- name: PowerDNS | Install Recursor | Create recursive.conf file
  ansible.builtin.template:
    src: recursor.conf.j2
    dest: /etc/powerdns/recursor.conf
    owner: pdns
    group: pdns
    mode: '0644'
  tags: 
    - update_config
  when: "'install_recursor' in ansible_run_tags"

- name: PowerDNS | Install | Restart PDNS recursor
  ansible.builtin.systemd:
    name: pdns-recursor
    state: restarted
    enabled: true
  when: not ansible_check_mode
  tags:
    - update_config
