{
    "Dhcp4": {
        "interfaces-config": {
            "interfaces": [ "{{ ansible_default_ipv4.interface }}" ]
        },
        "valid-lifetime": 691200,
        "renew-timer": 345600,
        "rebind-timer": 604800,
        "authoritative": true,
        "lease-database": {
            "type": "memfile",
            "persist": true,
            "name": "/var/lib/kea/kea-leases4.csv",
            "lfc-interval": 3600
        },
        "subnet4": [
            {%- for vlan in vlans %}
            {
                "subnet": "{{ vlan.subnet }}",
                "pools": [{% for p in vlan.pools %}{"pool": "{{ p }}"}{% if not loop.last %},{% endif %}{% endfor %}],
                "user-context": {
                    "comment": "{{ vlan.comment | default('') }}",
                    "vlan": {{ vlan.id | default('null') }}
                }
            }{% if not loop.last %},{% endif %}
            {%- endfor %}
        ]
    }
}
