---
- name: Semaphore | Configuration | Generate secrets
  set_fact:
    semaphore_cookie_hash: "{{ lookup('community.general.random_string', length=32, base64=True) }}"
    semaphore_cookie_encryption: "{{ lookup('community.general.random_string', length=32, base64=True) }}"
    semaphore_access_key_encryption: "{{ lookup('community.general.random_string', length=32, base64=True) }}"
  when: install_semaphore_deb is defined and install_semaphore_deb.changed

- name: Semaphore | Configuration | Create semaphore conf dir
  ansible.builtin.file:
    path: "/etc/semaphore"
    owner: semaphore
    group: semaphore
    state: directory
    mode: '0755'

- name: Semaphore | Configuration | Add semaphore Configuration
  ansible.builtin.template:
    src: semaphore.json.j2
    dest: "/etc/semaphore/config.json"
    owner: "semaphore"
    group: "semaphore"
    mode: '0644'
  notify: restart_semaphore

- name: Semaphore | Configuration | start service 
  ansible.builtin.systemd:
    name: semaphore
    state: started
    enabled: yes
    daemon_reload: yes
