---
- name: Semaphore | Install | Check Semaphore
  ansible.builtin.stat:
    path: /usr/bin/semaphore
  register: __semaphore_exists

- name: Semaphore | Install | Get version
  ansible.builtin.shell:
    cmd: semaphore version
    executable: /bin/bash
  register: __get_semaphore_version
  when: __semaphore_exists.stat.exists
  changed_when: false
  check_mode: false

- name: Semaphore | Install | Download semaphore package
  ansible.builtin.get_url:
    url: https://github.com/semaphoreui/semaphore/releases/download/v{{ semaphore.version }}/semaphore_{{ semaphore.version }}_linux_amd64.deb
    dest: /tmp/
  register: download_semaphore_deb
  when: not __semaphore_exists.stat.exists or not __get_semaphore_version.stdout == semaphore.version

- name: Semaphore | Install | Install deb package
  ansible.builtin.apt:
    deb: /tmp/semaphore_{{ semaphore.version }}_linux_amd64.deb
  register: install_semaphore_deb
  when: download_semaphore_deb is defined and download_semaphore_deb.changed

- name: Semaphore | Install | Copy systemd unit
  become: true
  copy:
    src: "semaphore.service"
    dest: "/etc/systemd/system/semaphore.service"
    mode: '0644'

- name: Semaphore | Install | Create semaphore user
  ansible.builtin.user:
    name: semaphore
    shell: "/bin/false"




