services:
  outline:
    image: {{ outline.image }}:{{ outline.version }}
    env_file: ./outline.env
    ports:
      - "{{ outline.web.port }}:{{ outline.web.port }}"
    depends_on:
      - redis
    volumes:
      - /root/outline-data:/var/lib/outline/data

  redis:
    image: redis
    env_file: ./outline.env
    expose:
      - "6379"
    volumes:
      - ./redis.conf:/redis.conf
    command: ["redis-server", "/redis.conf"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 3