NODE_ENV=production

URL={{ outline.web.url }}

PORT={{ outline.web.port }}

COLLABORATION_URL={{ outline.web }}

### CDN_URL=

WEB_CONCURRENCY=1

# Generate a hex-encoded 32-byte random key. Use `openssl rand -hex 32` in your
SECRET_KEY=69ac04....

# `openssl rand -hex 32` in your terminal to generate a random value.
UTILS_SECRET=e8b6...

DEFAULT_LANGUAGE=en_US

DATABASE_URL=postgres://{{ outline.db.user }}:{{ outline.db.password }}@{{ globvar.db.host }}:{{ globvar.db.port }}/{{ outline.db.name }}

### DATABASE_CONNECTION_POOL_MIN=
### DATABASE_CONNECTION_POOL_MAX=

PGSSLMODE=disable

REDIS_URL=redis://redis:6379

FILE_STORAGE=s3

AWS_ACCESS_KEY_ID={{ outline.s3.access_key }}
AWS_SECRET_ACCESS_KEY={{ outline.s3.secret_key }}
AWS_REGION={{ outline.s3.region }}
AWS_S3_UPLOAD_BUCKET_URL={{ outline.s3.url }}
AWS_S3_UPLOAD_BUCKET_NAME={{ outline.s3.bucket }}
AWS_S3_FORCE_PATH_STYLE=false
AWS_S3_ACL={{ outline.s3.acl }} # private

FILE_STORAGE_UPLOAD_MAX_SIZE=226214400

### AWS_S3_ACCELERATE_URL=

### SSL_KEY=
### SSL_CERT=

FORCE_HTTPS=false

GOOGLE_CLIENT_ID={{ outline.google.client_id }}
GOOGLE_CLIENT_SECRET={{ outline.google.client_secret }}

### AZURE_CLIENT_ID=
### AZURE_CLIENT_SECRET=
### AZURE_RESOURCE_APP_ID=

DISCORD_CLIENT_ID={{ outline.discord.client_id }}
DISCORD_CLIENT_SECRET={{ outline.discord.client_secret }}
DISCORD_SERVER_ID={{ outline.discord.server_id }}
### DISCORD_SERVER_ROLES=

OIDC_ISSUER_URL={{ outline.oidc.issuer_url }}
OIDC_CLIENT_ID={{ outline.oidc.client_id }}
OIDC_CLIENT_SECRET={{ outline.oidc.client_secret }}
OIDC_AUTH_URI={{ outline.oidc.issuer_url }}{{ outline.oids.oauth_uri }}
OIDC_TOKEN_URI={{ outline.oidc.issuer_url }}{{ outline.oids.token_uri }}
OIDC_USERINFO_URI={{ outline.oidc.issuer_url }}{{ outline.oids.userinfo_uri }}
OIDC_USERNAME_CLAIM=username
OIDC_DISPLAY_NAME={{ outline.oidc.display_name }}
OIDC_SCOPES=openid email

SMTP_SERVICE={{ outline.smtp.service }}
SMTP_USERNAME={{ outline.smtp.username }}
SMTP_PASSWORD={{ outline.smtp.password }}
SMTP_FROM_EMAIL={{ outline.smtp.from_email }}

RATE_LIMITER_ENABLED=true
RATE_LIMITER_REQUESTS=1000
RATE_LIMITER_DURATION_WINDOW=60

### GITHUB_CLIENT_ID=
### GITHUB_CLIENT_SECRET=
### GITHUB_WEBHOOK_SECRET=
### GITHUB_APP_NAME=
### GITHUB_APP_ID=
### GITHUB_APP_PRIVATE_KEY=

DROPBOX_APP_KEY=

SENTRY_DSN=
SENTRY_TUNNEL=

NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=

IFRAMELY_URL=
IFRAMELY_API_KEY=

ENABLE_UPDATES=true

DEBUG=http

LOG_LEVEL=info