[Unit]
Description=Semaphore ansible interface
After=network.target

[Service]
Type=simple
ExecStart=semaphore server --config=/etc/semaphore/config.json
WorkingDirectory=/etc/semaphore
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target