---
- name: restart_containerd
  ansible.builtin.systemd:
    name: containerd
    state: restarted
  tags:
    - install
  when: not ansible_check_mode

- name: reload_sysctl
  ansible.builtin.command:
    cmd: sysctl --system