# This task installs code-server on servers with tag code-server

- name: Common | Install Nginx | Install Nginx from apt
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: true
  tags:
    - upgrade

- name: Common | Install Code Server | Download Code Server install script
  get_url:
    url: https://code-server.dev/install.sh
    dest: /tmp/code-server-install.sh
    mode: '0755'
  tags:
    - upgrade

- name: Common | Install Code Server | Run Code Server install script
  shell: /tmp/code-server-install.sh
  args:
    creates: /usr/bin/code-server
  tags:
    - upgrade

- name: Common | Install Code Server | Launch Code Server
  ansible.builtin.systemd:
    name: code-server@root
    state: started
  when: not ansible_check_mode
  
- name: Common | Install Code Server | Create nginx site
  ansible.builtin.template:
    src: code-server_nginx.j2
    dest: /etc/nginx/sites-available/codeserver
    owner: root
    group: root
    mode: 0644

- name: Commom | Install Code Server | Create Nginx site link
  ansible.builtin.file:
    src: /etc/nginx/sites-available/codeserver
    dest: /etc/nginx/sites-enabled/codeserver
    state: link
  notify: reload_nginx
  when: not ansible_check_mode