server {
    listen 443 ssl default_server;

    ssl_certificate /etc/ssl/enpos.lan/fullchain.pem;
    ssl_certificate_key /etc/ssl/enpos.lan/privkey.pem;

    add_header Content-Type text/plain;
    return 200 "Host not found";
}

server {
    listen 80 default_server;
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload";
    return 301 https://$host$request_uri;
}