services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: always
    hostname: 'gitlab.enpos.fr'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # Add any other gitlab.rb configuration here, each on its own line
        external_url 'https://gitlab.enpos.fr'
        letsencrypt['enable'] = false
        gitlab_rails['object_store']['enabled'] = true
        gitlab_rails['object_store']['connection'] = {
          'provider' => 'AWS',
          'region' => 'us-east-1',
          'endpoint' => 'https://s3.enpos.fr',
          'aws_access_key_id' => 'IeoZNxQydQvGlwhN3QzD',
          'aws_secret_access_key' => 'E8OikBL0XZD5ITZ7nfk0tDQtYej0VPzwFU2L9UN1',
          'path_style' => true
        }
        gitlab_rails['object_store']['objects']['uploads']['bucket'] = 'gitlab'
        gitlab_rails['object_store']['objects']['lfs']['bucket'] = 'gitlab-lfs'
        gitlab_rails['object_store']['objects']['artifacts']['bucket'] = 'gitlab'
        gitlab_rails['object_store']['objects']['external_diffs']['bucket'] = 'gitlab'
        gitlab_rails['object_store']['objects']['packages']['bucket'] = 'gitlab'
        gitlab_rails['object_store']['objects']['dependency_proxy']['bucket'] = 'gitlab'
        gitlab_rails['object_store']['objects']['terraform_state']['bucket'] = 'gitlab'
        gitlab_rails['object_store']['objects']['pages']['bucket'] = 'gitlab'
        gitlab_rails['object_store']['objects']['ci_secure_files']['bucket'] = 'gitlab'
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_address'] = "10.27.100.104"
        gitlab_rails['smtp_port'] = 25
        gitlab_rails['smtp_domain'] = "gmail.com"
        gitlab_rails['gitlab_email_from'] = 'notifications.enpos@gmail.com'
        gitlab_rails['gitlab_email_reply_to'] = 'notifications.enpos@gmail.com'
        gitlab_rails['db_adapter'] = 'postgresql'
        gitlab_rails['db_encoding'] = 'unicode'
        gitlab_rails['db_collation'] = nil
        gitlab_rails['db_database'] = 'gitlab'
        gitlab_rails['db_username'] = 'gitlab_user'
        gitlab_rails['db_password'] = 'ZHn1Vtl9yFSeqsnDMzzGdQUHRgeB5QFk'
        gitlab_rails['db_host'] = '10.27.100.3'
        gitlab_rails['db_port'] = 5432
        gitlab_rails['db_sslmode'] = 'disable'
    ports:
      - '80:80'
      - '443:443'
      - '2222:22'
    volumes:
      - './gitlab/config:/etc/gitlab'
      - './gitlab/logs:/var/log/gitlab'
      - './gitlab/data:/var/opt/gitlab'
    shm_size: '256m'