services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: always
    hostname: '{{ gitlab.hostname }}'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # Add any other gitlab.rb configuration here, each on its own line
        external_url 'https://{{ gitlab.hostname }}'
        letsencrypt['enable'] = false
        gitlab_rails['object_store']['enabled'] = true
        gitlab_rails['object_store']['connection'] = {
          'provider' => 'AWS',
          'region' => '{{ globvar.s3.region }}',
          'endpoint' => '{{ globvar.s3.host }}',
          'aws_access_key_id' => '{{ gitlab.s3.access_key}}',
          'aws_secret_access_key' => '{{ gitlab.s3.secret_key }}',
          'path_style' => false
        }
        gitlab_rails['object_store']['objects']['uploads']['bucket'] = '{{ gitlab.s3.bucket}}'
        gitlab_rails['object_store']['objects']['lfs']['bucket'] = '{{ gitlab.s3.lfs_bucket }}'
        gitlab_rails['object_store']['objects']['artifacts']['bucket'] = '{{ gitlab.s3.bucket}}'
        gitlab_rails['object_store']['objects']['external_diffs']['bucket'] = '{{ gitlab.s3.bucket}}'
        gitlab_rails['object_store']['objects']['packages']['bucket'] = '{{ gitlab.s3.bucket}}'
        gitlab_rails['object_store']['objects']['dependency_proxy']['bucket'] = '{{ gitlab.s3.bucket}}'
        gitlab_rails['object_store']['objects']['terraform_state']['bucket'] = '{{ gitlab.s3.bucket}}'
        gitlab_rails['object_store']['objects']['pages']['bucket'] = '{{ gitlab.s3.bucket}}'
        gitlab_rails['object_store']['objects']['ci_secure_files']['bucket'] = '{{ gitlab.s3.bucket}}'
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_address'] = "{{ globvar.smtp.port }}"
        gitlab_rails['smtp_port'] = {{ globvar.smtp.port }}
        gitlab_rails['smtp_domain'] = "{{ globvar.smtp.domain }}"
        gitlab_rails['gitlab_email_from'] = '{{ globvar.smtp.email }}'
        gitlab_rails['gitlab_email_reply_to'] = '{{ globvar.smtp.email }}'
        gitlab_rails['db_adapter'] = 'postgresql'
        gitlab_rails['db_encoding'] = 'unicode'
        gitlab_rails['db_collation'] = nil
        gitlab_rails['db_database'] = '{{ gitlab.db.name }}'
        gitlab_rails['db_username'] = '{{ gitlab.db.username }}'
        gitlab_rails['db_password'] = '{{ gitlab.db.password }}'
        gitlab_rails['db_host'] = '{{ globvar.db.host }}'
        gitlab_rails['db_port'] = {{ globvar.db.port }}
        gitlab_rails['db_sslmode'] = 'prefer'
        gitlab_rails['initial_root_password'] = '{{ gitlab.root_password }}'
        gitlab_rails['ldap_enabled'] = true
        gitlab_rails['ldap_servers'] = {
          'main' => {
            'label' => 'LDAP',
            'host' => '{{ globvar.ldap.server }}',
            'port' => {{ globvar.ldap.port }},
            'uid' => '{{ globvar.ldap.username_attribute }}',
            'bind_dn' => '{{ globvar.ldap.bind_user }}',
            'password' => '{{ globvar.ldap.bind_password }}',
            'encryption' => '{{ globvar.ldap.encryption }}',
            'verify_certificates' => false,
            'timeout' => 10,
            'active_directory' => false,
            'user_filter' => '{{ globvar.ldap.filter }}',
            'base' => '{{ globvar.ldap.base_dn }}',
            'lowercase_usernames' => 'true',
            'retry_empty_result_with_codes' => [80],
            'allow_username_or_email_login' => false,
            'block_auto_created_users' => false,
            'skip_verify_user' => true
          }
        }
    ports:
      - '8080:80'
      - '8443:443'
      - '2222:22'
    volumes:
      - '/root/gitlab/config:/etc/gitlab'
      - '/root/gitlab/logs:/var/log/gitlab'
      - '/root/gitlab/data:/var/opt/gitlab'
      - '/root/gitlab/ssl:/etc/gitlab/ssl'
      - '/root/gitlab/trusted-certs:/etc/gitlab/trusted-certs'
    shm_size: '256m'