ansible_ssh_private_key_file: "~/.ssh/id_ansible"
ansible_hashi_vault_engine_mount_point: "kv"
ansible_hashi_vault_url: "https://vault.srv.nbl.lan"

globvar:
  enpos_root_ca_url: "http://acme.{{ globvar.domains.internal_srv }}/nobell.crt"
  domains:
    external: "nobell.fr"
    internal: "nbl.lan"
    internal_srv: "srv.nbl.lan"
  authentication_server: "auth.{{ globvar.external_domain }}"
  dns_servers:
    - 10.2.50.12
  ldap:
    host: "auth.{{ globvar.domains.internal_srv }}"
    port: 636
    scheme: "ldaps"
    username_attribute: "cn"
    bind_user: "cn=ldapservice,ou=users,dc=ldap,dc=goauthentik,dc=io"
    bind_password: "{{ lookup('community.hashi_vault.vault_kv2_get', 'ansible')['secret']['ldap_bind_password'] }}"
    base_dn: "ou=users,dc=ldap,dc=goauthentik,dc=io"
    filter: "(&(objectclass=person)(cn=%s))"
    encryption: "simple_tls"
    attributes:
      username: "cn"
      email: "mail"
      display_name: "sn"
      member_of: "memberOf"
      home_directory: "homeDirectory"
      uid_number: "uidNumber"
      gid_number: "gidNumber"
  db:
    host: "db.pub.lan"
    port: 5432
  s3:
    host: "https://s3.{{ globvar.domains.external }}"
    region: "us-east-1"
  acme:
    server: "https://acme.{{ globvar.domains.internal_srv }}/acme/acme/directory"
    email: "ansible@{{ globvar.domain.internal }}"
  smtp:
    host: smtp.pub.lan
    port: 25
    email: notifications.enpos@gmail.com
    domain: gmail.com
    password:
    ssl: false
    tls: false
  docker:
    registry: ""

  admin_keys:
    - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKjw7m9mIDGHYuq0QRK3/i0iaEQ5hQGkM5VWM1hFPPbw Jan Bellon"