ansible_ssh_private_key_file: "~/.ssh/id_ansible"
ansible_hashi_vault_engine_mount_point: "kv"
ansible_hashi_vault_url: "https://vault.enpos.lan"

globvar:
  enpos_root_ca_url: "http://10.27.100.12/root.crt"
  authentication_server: "auth.enpos.fr"
  ldap:
    host: "auth.enpos.lan"
    port: 636
    scheme: "ldaps"
    username_attribute: "cn"
    bind_user: "cn=ldapservice,ou=users,dc=ldap,dc=goauthentik,dc=io"
    bind_password: "{{ lookup('community.hashi_vault.vault_kv2_get', 'ansible')['secret']['ldap_bind_password'] }}"
    base_dn: "ou=users,dc=ldap,dc=goauthentik,dc=io"
    filter: "(&(objectclass=person)(cn=%s))"
    encryption: "simple_tls"
    attributes:
      username: "cn"
      email: "mail"
      display_name: "sn"
      member_of: "memberOf"
      home_directory: "homeDirectory"
      uid_number: "uidNumber"
      gid_number: "gidNumber"
  db:
    host: "10.27.100.3"
    port: 5432
  s3:
    host: "https://s3.enpos.fr"
    region: "us-east-1"
  acme:
    server: "https://10.27.100.12/acme/acme/directory"
    email: ansible@enpos.lan
  smtp:
    host: 10.27.100.18
    port: 25
    email: notifications.enpos@gmail.com
    domain: gmail.com
    password:
    ssl: false
    tls: false
  docker:
    registry: "harbor.enpos.lan"

  admin_keys:
    - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKjw7m9mIDGHYuq0QRK3/i0iaEQ5hQGkM5VWM1hFPPbw Jan Bellon"