ansible_ssh_private_key_file: ../ssh/id_ansible
ldap:
  server: "127.0.0.1"
  port: 389
  username_attribute: 
  bind_user: ldap
  bind_password: Password
  base_dn: CN=MYGROUP,CN=Users,dc=example,dc=com
  filter: (objectclass=*)