gitlab:
  hostname: "gitlab.{{ globvar.domains.external }}"
  root_password: "{{ lookup('community.hashi_vault.vault_kv2_get', 'gitlab')['secret']['root_password'] }}"
  s3:
    bucket: gitlab
    lfs_bucket: gitlab-lfs # Bucket for large filesystem (Can be same as main bucket)
    access_key: "{{ lookup('community.hashi_vault.vault_kv2_get', 's3/gitlab')['secret']['access_key'] }}"
    secret_key: "{{ lookup('community.hashi_vault.vault_kv2_get', 's3/gitlab')['secret']['secret_key'] }}"
  db:
    name: "gitlab"
    username: "gitlab_user"
    password: "{{ lookup('community.hashi_vault.vault_kv2_get', 'postgresql/users')['secret']['gitlab_user'] }}"
  oidc:
    issuer: 'https://{{ globvar.authentication_server }}/application/o/gitlab-oidc/'
    client_id: "{{ lookup('community.hashi_vault.vault_kv2_get', 'oidc/gitlab')['secret']['client_id'] }}"
    client_secret: "{{ lookup('community.hashi_vault.vault_kv2_get', 'oidc/gitlab')['secret']['client_secret'] }}"
    redirect_uri: 'https://{{ gitlab.hostname }}/users/auth/openid_connect/callback'