outline:
  version: "latest"
  image: "{{ globvar.docker.registry }}/docker/outlinewiki/outline"

  secret_key: "{{ lookup('community.hashi_vault.vault_kv2_get', 'outline')['secret']['outline_secret_key'] }}"
  utils_secret: "{{ lookup('community.hashi_vault.vault_kv2_get', 'outline')['secret']['outline_utils_secret'] }}"

  web:
    url: "https://wiki.enpos.fr"
    collaboration_url: "https://wiki.enpos.fr"
    port: 3000
    external_port: 3000
  db:
    user: outline_user
    password: "{{ lookup('community.hashi_vault.vault_kv2_get', 'postgresql/users')['secret']['outline_user'] }}"
    name: outline
  s3:
    access_key: "{{ lookup('community.hashi_vault.vault_kv2_get', 's3/outline')['secret']['access_key'] }}"
    secret_key: "{{ lookup('community.hashi_vault.vault_kv2_get', 's3/outline')['secret']['secret_key'] }}"
    bucket: outline
    acl: "private"
  discord:
    client_id: "{{ lookup('community.hashi_vault.vault_kv2_get', 'outline')['secret']['discord_client_id'] }}"
    client_secret: "{{ lookup('community.hashi_vault.vault_kv2_get', 'outline')['secret']['discord_client_secret'] }}"
    server_id: "{{ lookup('community.hashi_vault.vault_kv2_get', 'outline')['secret']['discord_server_id'] }}"
  google:
    client_id: "{{ lookup('community.hashi_vault.vault_kv2_get', 'outline')['secret']['google_client_id'] }}"
    client_secret: "{{ lookup('community.hashi_vault.vault_kv2_get', 'outline')['secret']['google_client_secret'] }}"
  oidc:
    client_id: "{{ lookup('community.hashi_vault.vault_kv2_get', 'outline')['secret']['oidc_client_id'] }}"
    client_secret: "{{ lookup('community.hashi_vault.vault_kv2_get', 'outline')['secret']['oidc_client_secret'] }}"
    issuer_url: "https://auth.enpos.fr"
    auth_uri: "{{ outline.oidc.issuer_url }}/application/o/authorize/"
    token_uri: "{{ outline.oidc.issuer_url }}/application/o/token/"
    userinfo_uri: "{{ outline.oidc.issuer_url }}/application/o/userinfo/"
    logout_uri: "{{ outline.oidc.issuer_url }}/application/o/end-session/"
    username_claim: "preferred_username"
    display_name: "Authentik"
    scopes: "openid profile email"
  smtp:
    service: "Gmail"
    password: "{{ lookup('community.hashi_vault.vault_kv2_get', 'outline')['secret']['smtp_password'] }}"
    username: "{{ globvar.smtp.email }}"
    from_email: "{{ globvar.smtp.email }}"

